.App {
  display: flex;
}

.App-Board {
  font-size: 3em;
  border-spacing: 0;
  flex-shrink: 0;
}

.App-Board td {
  height: 66px;
  width: 66px;
  text-align: center;
}

.black-square {
  background: #884400;
}

.white-square {
  background: #ffa54b;
}

.App-moves {
  width: 100%;
}