.App {
  display: flex;
}

.App-Board {
  font-size: 3em;
  border-spacing: 0;
  flex-shrink: 0;
}

.App-Board td {
  height: 66px;
  width: 66px;
  text-align: center;
}

.black-square {
  background: #884400;
}

.white-square {
  background: #ffa54b;
}

.App-moves {
  width: 100%;
}

.App-error {
  position: absolute;
  background: rgba(255,0,0,0.5);
  border: 1px solid red;
  color: red;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}