.App {
  display: flex;
}

.App-Board {
  font-size: 3em;
  border-spacing: 0;
}

.App-Board td {
  height: 66px;
  width: 66px;
  text-align: center;
}

.black-square {
  background: #884400;
}

.white-square {
  background: #ffa54b;
}

.App-moves {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-moves textarea {
  width: 100%;
  flex: 1;
}

.App-error {
  position: absolute;
  background: rgba(255,0,0,0.5);
  border: 1px solid red;
  color: red;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .App {
    background: #111111;
  }

  .App-Board td {
    color: white;
  }

  .black-square {
    background: #111111;
  }

  .white-square {
    background: #666666;
  }

  .App-moves,
  .App-moves textarea {
    background: #111111;
    color: green;
  }

  .App-error {
    color: white;
  }
}